rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /profiles/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /schools/{schoolId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /applications/{appId} {
      allow get: if request.auth != null && request.auth.uid == resource.data.userId;
      allow list: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /schools/{schoolId} {
      allow get: if request.auth != null && request.auth.uid == resource.data.userId;
      allow list: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /essays/{essayId} {
      allow get: if request.auth != null && request.auth.uid == resource.data.userId;
      allow list: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /lors/{lorId} {
      allow get: if request.auth != null && request.auth.uid == resource.data.userId;
      allow list: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /community/{postId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
